# Игнорирование файлов Python byte-code и кэша
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyi
*.pyz
*.pyw
*.pyz/
*.pyw/

# Игнорирование виртуальных окружений Python
venv/
env/
*.env

# Игнорирование файлов сборки проекта
build/
dist/

# Игнорирование локальных настроек IDE
.idea/
.vscode/

# Игнорирование файлов с личными данными и конфиденциальной информацией
secrets/
*.key
*.pem
*.cer

# Игнорирование файлов окружения
.env

# Игнорирование файлов журналов и временных файлов
logs/
*.log
*.swp
*.swo
*.tmp

# Игнорирование файлов баз данных
*.db
*.sqlite
*.db.sqlite3

# Игнорирование файлов зависимостей
*.egg-info/
dist/
build/
*.egg
*.whl

